body{
background-color: gainsboro;
margin: 0;
padding: 0;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html{
    scroll-behavior: smooth;    
}

h1,a, button{
    font-size:10px; 
}

nav{
    display:flex;
    justify-content: space-evenly;
    background-color: darkgrey;
    padding-top: 3vmin;
    border-radius: 5vmin;
    margin-right: 2vmin;
    margin-left: 2vmin;
}


a{
    text-decoration: none;
    color:bisque;
    font-size: 3.5vmin;
}

.title{
    text-align: center;
    margin-bottom: 2vmin;
}

.item1{
    display: flex;
    justify-content: space space-evenly;
}

.item1Words{
display: flex;
flex-direction: column;
max-height: 5vmin;
margin-top:3%;
justify-content: space-between;
font-size: 3.5vmin;
text-align: center;
}

.buttons{
    display:flex;
}

img{
    max-width: 65%;
    max-height:60vmin;
}

.button{
    margin-left: 5vmin;
    margin-left: 5vmin;
    width: 10vmin;
    height: 10vmin;
    height: 10vmin;
    font-size: 5vmin;
    border-radius: 2vmin;
}

.img1{
    max-width: 50%;
    max-height: 40vmin;
}

#i Menu{
    border-radius: 3vmin;
    background-color: black;
    margin-top: 5vmin;
    margin-right: 10vmin;
    margin-left: 10vmin;
    margin-left: 10vmin;
    padding-left: 10vmin;
    padding-right: 5vmin;
}